body {
    font-size: 14px;
    // background: #2f373e;
}

.dropdown-menu {
    width: 300px;
}

.pretag {
    height: auto;
    min-width: 150px;
    min-height: 300px;
    word-wrap: break-word;
}

.modal {
    width: 44%;
    margin: auto;
    padding-right: 10px;
    position: relative;
    top: 10px;
}

#tabview .tab-content {
    background-color: rgb(100%, 100%, 100%);
    padding: 5px 15px;
}

#result p {
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}

.modal-dialog {
    overflow-y: initial !important;
    width: 75%;
}

.modal-body {
    position: relative;
    top: 10px;
}

.form1 {
    width: 45%;
}

.login-form1 {
    padding: 0.5%;
}

#login .form-control {
    width: auto;
}

#search {
    padding-top: 10%;
}

#search h1 {
    padding: 2% 25%;
    color: black;
    font-size-adjust: inherit;
}

#home {
    height: 100%;
    overflow: hidden;
    color: grey;
}

textarea {
    height: auto;
}

.meta-search {
    width: 100px;
}

.col-xs-12.col-sm-12.col-md-7 {
    border-left-width: medium;
    left: 15%;
}

div#edit-form * {
    display: inline;
}

#edit-container {
    padding-top: 54px;
}

button#up-submit {
    padding: 5px;
    border-top-width
}

.form_upload {
    width: 55%;
}

div#check-boxes {
    display: inline;
    padding-left: 25%;
}

button#update {
    padding: 5px;
}

#lview {
    min-block-size: -webkit-fill-available;
    border: none;
    box-shadow: 2px 2px 2px rgb(75.3%, 75.3%, 75.3%);
    overflow-y: auto;
    background-color: white;
    padding: 35px;
}

#up_lyrics {
    margin-top: 10px;
}

.col-sm-10.col-xs-10.col-md-6.col-md-offset-3 {
    background-color: rgb(100%, 99.5%, 99.5%);
}

.username-sidebar {
    text-align: center;
    margin-top: 10px;
    color: rgb(22.7%, 21.6%, 24.1%);
}

.status-not-available {
    color: rgb(100%, 0%, 0%);
}

.status-available {
    color: rgb(0%, 50.2%, 0%);
}

li.nav-search {
    positon: relative;
}

div.search-sugg-navbar {
    background-color: white;
    border-bottom-color: white;
    position: absolute;
    max-height: 500px;
    overflow-y: auto;
    z-index: 1111;
    padding: 10px;
    padding-left: 25px;
    top: 100%;
    display: none;
    left: 250px;
    width: 279px;
    box-shadow: 2px 2px 1px #d0d0d0;
}

div.sugg {
    width: 200px;
    padding-left: 10px;
}

div.result-box {
    padding: 10px;
}

ul.lyrics-info {
    padding: 12px;
}

img.result-image {
    height: 225px;
    max-height: 400px;
}

img#lr-details-img {
    box-shadow: 2px 2px 1px #d0d0d0;
    max-height: 350px;
    height: 300px;
    width: 500px;
    max-width: 600px;
    border-style: ridge;
    border-color: rgb(70.6%, 68.9%, 68.9%);
    border-width: 2px;
}

div#audio-player {
    display: inline;
    float: right;
    top: 2%;
    padding-top: 10px;
    background-color: white;
}

form#lr-details-edit-button {
    display: inline;
    float: right;
}

ul.nav.nav-pills {
    padding-top: 52px;
}

div.box {
    box-shadow: 2px 2px 1px #d0d0d0;
    background-color: white;
}

body {
    background-color: rgb(96.1%, 96.1%, 96.1%)
}

div.movie-name {
    padding-left: 7%;
}

h3#lr-details-header {
    margin-top: 0px;
}

div.button-inline {
    display: inline;
}

label.custom-file {
    padding-top: 10px;
    border-style: none;
    border-radius: 10px;
}

div.reg-buttons {
    padding-bottom: 10px;
}

div.dropdown-filter-row {
    float: right;
}

div.filter-menu {
    width: auto;
    padding: 5px;
    padding-left: 10px;
    background-color: white;
}

a.filter-menu-item {
    color: black;
}

a.filter-menu-item:hover {
    color: rgb(11%, 32.9%, 96.1%)
}

div.search-sugg {
    padding: 15px;
    min-width: 150px;
    background-color: white;
    padding-left: 15px;
    box-shadow: 2px 2px 1px #d0d0d0;
    display: none;
}

div.upload-files {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

button.upload-button {
    border: 2px solid gray;
    color: gray;
    border-radius: 8px;
    padding: 8px 20px;
}

a.search-suggestions {
    color: rgb(13.3%, 13.3%, 13.7%);
}

a.search-suggestions:hover {
    color: rgb(8.6%, 27.8%, 91.4%);
}

.carousel-control-left {
    background-image: none;
}

#sort-button {
    background-color: rgb(96.1%, 96.1%, 96.1%);
}

.error {
    color: rgb(54.5%, 0%, 0%);
}

#lr-details-cover-img {
    width: 100%;
    max-height: -webkit-fill-available;
    width: -moz-available;
}

div.lr-view {
    padding-left: 9%;
}

img.related-songs-item {
    max-width: 100px;
    max-height: 100px;
    min-height: 75px;
    min-width: 75px;
    padding: 5px;
}

div#related-items {
    background-color: white;
}

h4.lyrics-heading {
    font-family: serif;
    font-stretch: expanded;
    font-style: normal;
    font-feature-settings: inherit;
    font-kerning: auto;
    font-weight: 700;
}

div.comments-section {
    padding-left: 9%;
}

textarea#comment-box {
    height: 56px;
    resize: none;
}

#comment-submit {
    float: right;
    visibility: hidden;
    padding-bottom: 5px;
    margin: -5px;
}

div.comment-input {
    background-color: white;
    padding: 10px;
}

div.comment-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
}

div.comment-meta {
    color: gray;
    float: right;
}

div.comment-box {
    background-color: white;
}

div.user-comments {
    background-color: white;
    /* left: auto; */
    margin-left: unset;
    margin-right: unset;
    padding-bottom: 5px;
}

hr#divider {
    visibility: hidden;
}

@media only screen and (max-width:400px) {
    div.search-sugg-navbar {
        display: none;
    }
}

#movie-add-dialog {
    display: none;
}

.login-panel,
.register-panel {
    padding-top: 50px;
}

div.add-field-icon {
    /* margin-top: 27px; */
    background: steelblue;
    width: 30px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    color: #fff;
    border-radius: 9px;
}

a.delete-field-icon {
    margin: 3px;
    background-color: red;
    text-align: center;
    width: 30px;
    line-height: 30px;
    color: white;
    border-radius: 9px;
    display: inline-block;
    visibility: hidden;
    margin-left: 10px
}

.tag-form {
    font-size: 14px;
    line-height: 1.42857143;
    width: auto;
    height: 34px;
    padding: 6px 12px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}